<a class="card text-decoration-none text-dark mb-4" href="/projects/{{id}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{location}}</h6>
    <p class="card-text">{{description}}</p>
  </div>
</a>