<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <h1 class="d-inline display-4">{{group.name}}</h1>
      {{#if (userIsOwnerOfGroup request.user group)}}
      <div class="float-right">
        <button class="btn btn-link p-0 m-0" data-toggle="modal" data-target="#groupModal" type="button">
          <i class="fas fa-edit h3"></i>
        </button>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="row">

    <div class="col-md-8 mb-5">
      <h4 class="jumbotron p-2 text-center">Members</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          {{#each group.Members}}
          {{> member/member-block}}
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="col-md-4 mb-5">
      <div class="jumbotron p-2 text-center">
        <h4 class="d-inline">Projects</h4>
        <div class="float-right">
          <button class="btn btn-link h4 py-0 m-0" data-toggle="modal" data-target="#projectModal" type="button">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      {{#each group.Projects}}
      {{> project/project-block}}
      {{/each}}
    </div>

  </div>
</div>

{{> project/project-modal }}
{{> group/group-modal }}

{{#section 'js'}}
<script src="/js/group.js"></script>

{{#if (userIsOwnerOfGroup request.user group)}}
<script src="/js/edit-group.js"></script>
{{/if}}
{{/section}}