<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="display-3">Oops!</h1>
      <p class="display-4">{{code}} {{statusMessage code}}</p>
      <p class="lead">
        {{#if (eq code 404)}}
        The page you are looking for was not found.
        {{/if}}
        {{#if (eq code 500)}}
        An internal server error has occured.
        {{/if}}
      </p>
      <a class="btn btn-primary btn-lg" href="/">Take Me Home</a>
    </div>
  </div>
</div>