<div class="container mt-4">
  <div class="row">

    <div class="col-md-8 mb-5">
      <h4 class="jumbotron p-2 text-center">Timeline</h4>
      <ul class="timeline">
        {{#each futureEvents}}
        {{> event/event-block}}
        {{/each}}
        <li>
          <h4 class="jumbotron p-2 text-center">Today - {{date 'now' 'MMMM DD, YYYY'}}</h4>
        </li>
        {{#each pastEvents}}
        {{> event/event-block}}
        {{/each}}
      </ul>

    </div>

    <div class="col-md-4 mb-5">
      <h4 class="jumbotron p-2 text-center">Projects</h4>
      <div class="row justify-content-center my-4">
        <div class="col-12">
          <div>
            <div class="row align-items-center">
              <div class="col pr-1">
                <input class="form-control form-control-borderless mr-sm-2" type="search"
                  placeholder="Find more projects" id="searchInput">
              </div>
              <!--end of col-->
              <div class="col-auto pl-1">
                <button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn">Search</button>
              </div>
              <!--end of col-->
            </div>
          </div>
        </div>
        <!--end of col-->
      </div>
      {{#each user.Projects}}
      {{> project/project-block}}
      {{/each}}

      <div class="jumbotron p-2 text-center">
        <h4 class="d-inline">Groups</h4>
        <div class="float-right">
          <button class="btn btn-link h4 py-0 m-0" data-toggle="modal" data-target="#groupModal" type="button">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      {{#each user.Members}}
      {{> member/group-block}}
      {{/each}}
    </div>

  </div>
</div>

{{> group/group-modal }}

{{#section 'js'}}
<script src="/js/search.js"></script>
<script src="/js/user.js"></script>
{{/section}}