<div class="container mt-4">
  <div class="row">

    <div class="col-md-8 mb-5">
      <h4 class="jumbotron p-2 text-center">Timeline</h4>
      <ul class="timeline">
        {{#each events}}
        {{> event/event-block}}
        {{/each}}
      </ul>

    </div>

    <div class="col-md-4 mb-5">
      <h4 class="jumbotron p-2 text-center">Projects</h4>
      <div class="row justify-content-center my-4">
        <div class="col-12">
          <div>
            <div class="row align-items-center">
              <div class="col pr-1">
                <input class="form-control form-control-borderless mr-sm-2" type="search"
                  placeholder="Find more projects" id="searchInput">
              </div>
              <!--end of col-->
              <div class="col-auto pl-1">
                <button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn">Search</button>
              </div>
              <!--end of col-->
            </div>
          </div>
        </div>
        <!--end of col-->
      </div>
      {{#each user.Projects}}
      {{> project/project-block}}
      {{/each}}

      <h4 class="jumbotron p-2 text-center">Groups</h4>
      {{#each user.Members}}
      {{> member/group-block}}
      {{/each}}
    </div>

  </div>
</div>

{{#section 'js'}}
<script src="/js/search.js"></script>
{{/section}}