ul.timeline {
    list-style-type: none;
    position: relative;
    padding-inline-start: 30px;
    padding: 0;
}

ul.timeline .box { border-left: 1px solid #bec0c4 }

ul.timeline .box.dashed { border-left-style: dashed }

ul.timeline .event-box { padding: 0 0 20px 20px; }

ul.timeline .date-wrapper { padding-bottom: 20px }

ul.timeline .date-box { 
    padding-left: 20px;
    border-bottom: 1px solid #bec0c4
 }

ul.timeline .date { padding-right: 20px }

/* Pin */
ul.timeline .event-box:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: solid 1px #536dfe;
    background-color: white;
    left: -5px;
    width: 11px;
    height: 11px;
    z-index: 400;
}

ul.timeline .event-box.bg-purple:before { background-color: #536dfe }