.search-hero-image {
    background-image: url('./search-hero.png');
}

.search-card { 
    border: 0;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    width: 800px
 }