<span class="h6">{{name}}{{#if project}} ({{project.name}}){{/if}}</span>
<span class="h6 float-right">{{date start 'MMM D YYYY'}}</span>
<p class="card-text text-muted mb-1">{{description}}</p>
<a href="#" class="card-link">Details</a>