<a class="card text-decoration-none text-dark mb-4" href="/groups/{{id}}">
  <div class="card-body">
    <h5 class="card-title">{{Group.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{length Group.Members}} Member{{#unless (equalsLength Group.Members 1)}}s{{/unless}}</h6>
    <p class="card-text">{{ellipsis Group.description 140}}</p>
  </div>
</a>